.carousel-row {
  display: flex;
  overflow-x: auto;
  gap: 10px;
  scrollbar-width: none;
  overflow-y: hidden;
  scroll-snap-type: mandatory;
}

.carousel-div {
  width: 16.66%;
  scroll-snap-align: start;
  transition: all 0.1s ease;
}

.carousel-div:hover {
  transform: scale(1.1);
  border: 1px solid white;
}

@media (max-width: 992px) {
  .carousel-div {
    width: 25%;
  }
}

@media (max-width: 768px) {
  .carousel-div {
    width: 50%;
  }
}
@media (max-width: 576px) {
  .carousel-div {
    width: 90%;
  }
}
